extends ./layout.jade

block scripts

block content
  h1 Désolé notre site est actuellement en maintenance. Pour toutes informations veuillez consulter notre facebook
  a(href='https://www.facebook.com/AveTenebrae?fref=ts') Facebook d'Ave Tenebrae
